* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
overflow-y: scroll;
  background-color: var(--VeryLightGrayishBlue);
  background-image: url(img/bg-top.svg), url(img/bg-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 26.5%, 26.5%;
  background-position: top 0 right -1rem, bottom -4.7rem left -1.9rem;
}

:root {
  /* - Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */

  --VeryLightGrayishBlue: #f6f6fe;
  --LightGrayishBlue: #b3b5c6;
  --GrayishBlue: #6d708d;
  --DarkGrayishBlue: #494c5f;
}

.title {
  color: var(--GrayishBlue);
  font-size: 2rem;
}

.colorGrayishBlue {
  color: var(--GrayishBlue);
}

.colorDarkGrayishBlue {
  color: var(--DarkGrayishBlue);
}

.bgline {
  border-color: hsl(234, 13%, 80%);
}
.bglineP {
  border-color: hsla(0, 0%, 100%, 0.308);
}

.toggle {
  border-radius: 16px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  width: 56px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle.ativo{
    justify-content: flex-start;
}

.toggle button {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.toggle.ativo button{
  margin-left: 5px;

}

.bg-card-d {
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
  height: 450px;
}

.bg-card-p {
  background: linear-gradient(135deg, #a2a7f0 -0.05%, #696edd 100.05%);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
  height: 500px;
  border-radius: 10px;
}

.width-prices {
  margin-inline: auto;
  width: 1050px;
}

.textSim {
  font-size: 2.5rem;
  letter-spacing: -1.2px;
}

.spacing {
  letter-spacing: -2.16px;
}

.btn-default {
  border-radius: 6px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  padding: 14px 0;
  cursor: pointer;
  width: 100%;
  border: 1px solid;
  transition: 0.3s all;
}

.btn-default:hover {
  background: none;
  border: 1px solid #6d72de;
  color: #6d72de;
}

.btn-premio {
  border-radius: 6px;
  background: #fff;
  text-transform: uppercase;
  font-size: 13px;
  color: #6d72de;
  padding: 14px 0;
  border: 1px solid;
  cursor: pointer;
  width: 100%;
  transition: 0.3s all;
}

.btn-premio:hover {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.border-ra-r {
  border-radius: 0 10px 10px 0;
}
.border-ra-l {
  border-radius: 10px 0 0 10px;
}


@media (max-width: 1024px) {
  .bg-img-bottom {
    display: none;
  }
  .title {
    margin-top: 3rem;
  }
  .width-prices{
    width: 100%;
    padding: 0 24px;
  }
  .bg-card-d,.bg-card-p{
    width: 100%;
    height: 450px;;
  }
}
